<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  id="friends-modal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="dark-purple modal-title" id="exampleModalLabel">Invite Your
          Friends!</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <!-- friend 1 -->

        <div class="card m-2 border border-dark">

          <img
            class="img-thumbnail"
            src="/assets/images/error-page/error-image.png"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title text-center">Ben Dover</h5>
            <hr />
            <p class="card-text text-center">Send this event to Ben!</p>
            <a
              href="#"
              class="btn btn-dark d-flex justify-content-center"
            >Invite</a>
          </div>
        </div>

        <!-- friend 2 -->

        <div class="card m-2 border border-dark">
          <img
            class="img-thumbnail"
            src="/assets/images/error-page/error-image.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Bob Smith</h5>
            <hr />
            <p class="card-text text-center">Send this event to Bob!</p>
            <a
              href="#"
              class="btn btn-dark d-flex justify-content-center"
            >Invite</a>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Send message</button>
      </div>
    </div>
  </div>
</div>