<!-- Nav Bar -->
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">
      <img
        src="./assets/images/home-page-images/whats-on.png"
        alt="What's On Logo"
        width="117"
        height="30"
        class="d-inline-block align-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <!-- Nav Bar Links -->
      <ul class="navbar-nav ms-auto text-center">
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/my-events">My Events</a>
        </li>
        <li>
          <a class="nav-link" href="/my-events">My Invites</a>
        </li>
        <li>
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li>
          <button
            class="btn btn-link nav-link border-0"
            id="logout-btn"
          >Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- End of Nav bar -->