<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">
      <img
        src="../../public/assets/images/home-page-images/whats-on-logo-2.png"
        alt="What's On Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <!-- Nav Bar Links -->
      <ul class="navbar-nav ms-auto text-center">
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li>
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li>
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>