{{#if isLoggedIn }}
  {{> privateNavBar }}
{{else}}
  {{> publicNavBar }}
{{/if}}

<section class="my-cards d-flex flex-wrap justify-content-center align-items-center">
    <h1 class="contact-title">Contact | About The Team</h1>
    <div class="row text-center mx-auto">
      
        <!-- card -->
        <div class="row">
        <div class="card m-2" style="width: 18rem">
          <img class="card-img-top" src="./assets/images/contact-images/a-l.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Abdilatif</h5>
            <p class="card-text">
              I am an aspiring web developer currently training away at the University of Birmingham Coding Boot Camp. 
            </p>
            <a target="_blank" href="https://github.com/awarsame1996/" class="btn btn-dark"
              >Github</a
            >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/abdilatif-warsame-130837225/"
              class="btn btn-dark"
              >LinkedIn</a
            >
          </div>
        </div>
        <!-- card -->
        <div class="card m-2" style="width: 18rem">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Alexandru</h5>
            <p class="card-text">
              Robotic Process Automation (RPA) Developer leveraging my background in Quality Engineering to create robust and sustainable software solutions.
            </p>
            <a
              target="_blank"
              href="https://github.com/talexandru1987"
              class="btn btn-dark"
              >Github</a
            >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/alexandru--tanase/"
              class="btn btn-dark"
              >LinkedIn</a
            >
          </div>
        </div>
        <!-- card -->
        <div class="card m-2" style="width: 18rem">
          <img class="card-img-top" src="./assets/images/contact-images/g-n.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Gurmanpreet</h5>
            <p class="card-text">
              Changing careers from a Sales Consultant to become a full-stack web developer

            </p>
            <a
              target="_blank"
              href="https://github.com/Mkn01"
              class="btn btn-dark"
              >Github</a
            >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/gurmanpreet-nagra/"
              class="btn btn-dark"
              >LinkedIn</a
            >
          </div>
        </div>
      
      
        <!-- card -->
        <div class="card m-2" style="width: 18rem">
          <img class="card-img-top" src="./assets/images/contact-images/j-y.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Jinyi</h5>
            <p class="card-text">
              Auditor shifting careers to a Full-Stack Software Engineer

            </p>
            <a
              target="_blank"
              href="https://github.com/jinyiyu"
              class="btn btn-dark"
              >Github</a
            >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/jinyiyu/"
              class="btn btn-dark"
              >LinkedIn</a
            >
          </div>
        </div>
        <!-- card -->
        
        <div class="card m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="./assets/images/contact-images/s-w.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Sophia</h5>
            <p class="card-text">
              A Sales and Marketing Executive, developing my skills to become a
              full-stack developer.
              
            </p>
            <a
              target="_blank"
              href="https://github.com/sophia4422"
              class="btn btn-dark"
              >Github</a
            >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/sophia-wall/"
              class="btn btn-dark"
              >LinkedIn</a
            >
          </div>
          </div>
        </div>
        
      
    </div>
  </section>