{{> privateNavBar }}

<!-- Home Page Image and Title -->
<div class="flex-container">
  <div class="home-container">
    <img
      src="./assets/images/home-page-images/paint-crowd.jpg"
      class="home-image"
      alt="crowd of people throwing powder paint"
    />
    <h1 class="home-text">Find Out <span class="purple">What's On</span> Near You!</h1>

    <!-- Search Buttons -->
    <div class="search-container">
      <form action="https://www.google.com/search" method="get" class="search-box">
        <input type="text" placeholder="Enter Your City" name="q" />
        <button type="submit">
          <img src="./assets/images/home-page-images/search.png" />
        </button>
      </form>
    </div>

    <h2 class="h2-title">Discover the best events in town!</h2>
  </div>
</div>