{{#if isLoggedIn }}
  {{> privateNavBar }}
{{else}}
  {{> publicNavBar }}
{{/if}}

<!-- Home Page Image and Title -->
{{!-- <div class="flex-container container-fluid">
  <div class="home-container">
    <img
      src="./assets/images/home-page-images/paint-crowd.jpg"
      class="home-image"
      alt="crowd of people throwing powder paint"
    />
    <h1 class="home-text">Find Out <span class="purple">What's On</span> Near You!</h1>

    <!-- Search Buttons -->
    <div class="search-container">
      <form class="search-box" id="search-form">
        <input type="text" placeholder="Enter Your City" name="q" id="searchInput" />
        <button type="submit">
          <img src="./assets/images/home-page-images/search.png" />
        </button>
      </form>
    </div>

    <h2 class="h2-title">Discover the best events in town!</h2>
  </div>
</div> --}}

 <!-- Home Image -->
    <section
      class="mainhead"
      style="background-image: url('./assets/images/home-page-images/paint-crowd.jpg')"
    >
      <div
        class="color-overlay d-flex-column justify-content-center align-items-center pt-5"
      >
        <h1 class="home-text">
          Find Out <span class="purple">What's On</span> Near You!
        </h1>
      

        <div class="col-md-4 offset-md-4 mt-5 pt-3 search-box">
          <form id="search-form" class="input-group mb-3">
            <input
              type="text"
              placeholder="Enter Your Location"
              name="q"
              id="searchInput"
            />
            <div class="input-group-append">
              <button type="submit">
                <img src="./assets/images/home-page-images/search.png" />
              </button>
            </div>
          </form>
        </div>
        <h2 class="h2-title">Discover the best events in town!</h2>
      </div>
    </section>

    <!-- About Section -->
    <section class="my-cards">
      <div class="container">
        <h2 class="cards-h1 mb-4">
          What is <span class="light-purple">What's On </span>?
        </h2>
        <div class="row d-flex text-center">
          <!-- card one -->
          <div class="col-md-4 mb-5">
            <div class="card text-center">
              <img
                src="./assets/images/home-page-images/inflatable-course.jpeg"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Discover the best events!</h5>
                <p class="card-text">
                  Gigs by your favourite musicians, silent disco at the museum
                  or bingo at the village hall, we have it all!
                </p>
              </div>
            </div>
          </div>
          <!-- card two -->
          <div class="col-md-4 mb-5">
            <div class="card text-center">
              <img
                src="./assets/images/home-page-images/bongos-bingo-2.jpeg"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Save Your Favourite Events!</h5>
                <p class="card-text">
                  Once you discover upcoming events, save them to your profile
                  so you won't forget them!
                </p>
              </div>
            </div>
          </div>
          <!-- card three -->
          <div class="col-md-4 mb-5">
            <div class="card text-center">
              <img
                src="./assets/images/home-page-images/group-dinner.jpeg"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Share events with friends!</h5>
                <p class="card-text">
                  You can easily share your favourite events with your friends with a click of a button!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
