{{> publicNavBar}}

<div class="home-container">
  <img
    src="./assets/images/home-page-images/concert-orange.jpg"
    class="home-image"
    alt="crowd at a concert"
  />
</div>


<div class="login-center">
  <h1>Login</h1>
  <form method="post" id="login-form">
    <div class="text-field">
      <input type="text" required id="email" />
      <label>Email</label>
    </div>
    <div class="text-field">
      <input type="password" required id="password" />
      <label>Password</label>
    </div>
    <div class="pass">Forgot Password?</div>
    <input type="submit" value="Login" />
    <div class="signup-link">
      Not a member?
      <a href="/signup">Sign Up</a>
    </div>
  </form>
</div>