{{> publicNavBar}}

<section class="background-pic"
      style="background-image: url('./assets/images/home-page-images/concert-orange.jpg')">
      <div class="login-center">
  <h1>Login</h1>
  <form method="post" id="login-form">
    <div class="text-field">
      <input type="text" required id="email" />
      <label>Email</label>
    </div>
    <div class="text-field">
      <input type="password" required id="password" />
      <label>Password</label>
    </div>
    <input type="submit" value="Login" />
     <div class="signup-link" id="login-error"></div>
    <div class="signup-link">
      Not a member?
      <a href="/signup">Sign Up</a>
    </div>
  </form>
</div>

</section>


