{{#if isLoggedIn }}
  {{> privateNavBar }}
{{else}}
  {{> publicNavBar }}
{{/if}}
<main id="main">
<div><h1>Events in your area</h1></div>
<!-- events cards -->
<div class="searchEventsTable" id="searchEventsTable">
  {{#each events}}
    {{> eventCard}}
  {{/each}}
</div>
</main>

  

