{{#if isLoggedIn }}
  {{> privateNavBar }}
{{else}}
  {{> publicNavBar }}
{{/if}}
<main id="main">
<div><h1 class="text-center">Events in your area</h1></div>
<!-- events cards -->
<div class="row justify-content-center" id="events-container" data-search-key="{{searchKey}}">
  {{#each events}}
    {{> eventCard}}
  {{/each}}
</div>
</main>

  

