{{> publicNavBar}}

    <div class="home-container">
      <img
        src="./assets/images/home-page-images/concert-purple.jpg"
        class="home-image"
        alt="crowd at a concert"
      />
    </div>

    <!-- Sign Up -->
    <div class="login-center">
      <h1>Sign Up to What's On!</h1>
      <form method="post" id="signup-form">
        <!-- first name -->
        <div class="text-field">
          <input  id="firstName"
          type="text" required />
          <label>First Name</label>
        </div>
        <!-- last name -->
        <div class="text-field">
          <input 
          id="lastName"
          type="text" required />
          <label>Last Name</label>
        </div>
        <!-- user name -->
        <div class="text-field">
          <input 
          id="userName"
          type="text" required />
          <label>Username</label>
        </div>
        <!-- email -->
        <div class="text-field">
          <input 
          id="email"
          type="text" required />
          <label>Email</label>
        </div>
        <!-- password -->
        <div class="text-field">
          <input 
          id="password"
          type="password" required />
          <label>Password</label>
        </div>
          <!-- confirm password -->
        <div class="text-field">
          <input
          id="confirmPassword"
           type="password" required />
          <label>Confirm Password</label>
        </div>
        <!-- Profile Image Url -->
        <div class="text-field">
          <input id="profileImageUrl" type="text"/>
          <label>Add a profile picture link</label>
        </div>
         <!-- date of birth -->
        <div class="date">
          <input 
          id="dateOfBirth"
          type="date" required />
          <label>Date of Birth | DD-MM-DD</label>
        </div>
        <input type="submit" value="Sign Up" />
        <div class="signup-link" id="signup-error"></div>
        <div class="signup-link">
          Already a member? <a href="/login">Login</a>
        </div>
      </form>
    </div>