* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive; */
}

.home-title {
  padding: 0;
}

.home-image {
  width: 1920px;
  height: auto;
}

.home-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.home-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

@media only screen and (max-width: 600px) {
  .home-image {
    width: 375px;
  }
  .home-text {
    font-size: 30px;
  }
} ;
